<body>
<section class="center-vertical">
	<h1>検索フォーム</h1>
	<form action="/search" method="get">
	<input type="text" name="keyword">
	<input type="submit" value="検索">
	</form>

	<h2>検索フォーム</h2>
    <% if !@musics.empty? %>
			<div>
        <% @musics.each do |music| %>
          <div>
            <img src="<%= music["artworkUrl100"] %>">
            <p><%= music["artistName"] %></p>
            <p><%= music["collectionName"] %></p>
            <p><%= music["trackName"] %></p>
            <a href="<%= music["previewUrl"] %>">サンプル</a>


          </div>
        <% end %>
      </div>
    <% else %>
      検索結果がありません
    <% end %>
</body>
